<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videoadmin.ying.dao.CaricatureClassifyMapper">


    <select id="selectListPage" resultType="java.util.Map">
        SELECT
            id,
            name,
            sort_no sortNo,
            create_time createTime
        FROM
            t_caricature_classify
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%')
            </if>
        </where>

    </select>

    <select id="validateName" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_caricature_classify AS l
        WHERE 1=1
        <if test="id!=null and id!=''">
            AND l.`id` != #{id}
        </if>
        AND l.`name` =#{name}
    </select>
    <select id="findAll" resultType="com.videoadmin.ying.po.CaricatureClassify">
        select id,name from t_caricature_classify where id not in (-1)
    </select>
</mapper>
