<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videoadmin.ying.dao.SysSessionMapper">



	<select id="selectIdPage" resultType="java.lang.Integer">
		select id from sys_session
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or session_id like CONCAT('%',#{cm.keyword},'%')
					or account like CONCAT('%',#{cm.keyword},'%')
					or ip like CONCAT('%',#{cm.keyword},'%')
					or start_time like CONCAT('%',#{cm.keyword},'%')
					or enable like CONCAT('%',#{cm.keyword},'%')
					or remark like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
	</select>
	<delete id="deleteBySessionId" parameterType="java.lang.String">
		delete from
		sys_session where session_id=#{sessionId}
	</delete>
	<select id="queryBySessionId" resultType="java.lang.Integer">
		select id from sys_session where session_id = #{sessionId}
	</select>
	<select id="querySessionIdByAccount" resultType="java.lang.String">
		select session_id from sys_session where account = #{account}
	</select>
</mapper>
