<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videoadmin.ying.dao.TNoticeMapper">



	<select id="selectIdPage" resultType="java.lang.Integer">
		select id from t_notice
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or notice_title like CONCAT('%',#{cm.keyword},'%')
					or notice_brief like CONCAT('%',#{cm.keyword},'%')
					or notice_content like CONCAT('%',#{cm.keyword},'%')
					or long_time like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
	</select>
	<select id="selectListPage" resultType="java.util.Map">
	SELECT
		  tn.id,
		  tn.`notice_title` noticeTitle,
		  tn.`notice_brief` noticeBrief,  
		  tn.`notice_content` noticeContent,
		  tn.start_time startTime,
		  tn.end_time endTime,
		  tn.`long_time` longTime,
		  tn.`create_time` createTime
		FROM
		  `t_notice` tn
		where 1=1 
		<if test="cm.noticeTitle !=null and cm.noticeTitle != ''">
			and tn.`noticeTitle` like CONCAT('%',#{cm.noticeTitle},'%')
		</if>
	</select>
	<!-- 验证公告名称是存在 -->
	<select id="validateName" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM t_notice AS ts
		 WHERE 1=1
		 <if test="id != null and id !=''">
			and ts.id = #{cm.id}
		</if>
		  AND ts.notice_title = #{noticeTitle}
	</select>
</mapper>
