<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videoadmin.ying.dao.TVideoTagsMapper">



	<select id="selectIdPage" resultType="java.lang.Integer">
		select id from t_video_tags
		<where>
		<if test="cm.videoId != null and cm.videoId != ''">
		and video_id=#{cm.videoId}
		</if>
			
		</where>
	</select>
    <select id="selectByVideoId" resultType="com.videoadmin.ying.po.TVideoTags">
		select * from t_video_tags where video_id = #{videoId}
	</select>
	<select id="findTagIdsByVideoId" resultType="java.lang.Integer">
		select tag_id from t_video_tags where video_id = #{videoId}
	</select>
</mapper>
